@(spreadsheetUrl: Url, data: UxData)

@page(spreadsheetUrl.getUrl) {

  <!--
    // TODO: use 'data' instead of hard coded dummy data
    // TODO: Wrap UxData in a PresentationData that also includes color scheme and has a toJson()
    @data.toString
  -->

  <script type='text/javascript'>
    var data = {
      labels: [
        "Användbarhet",
        "Användarvänlighet",
        "Yttre effektivitet",
        "Inre effektivitet",
        "Tillfredsställande",
        "Mognadsgrad",
        "Felhantering",
        "Gemytlighet",
        "Följdriktighet",
        "Enkelhet",
        "Lärbarhet",
        "Tillförsikt"
      ],
      datasets: [
        {
          label: "Experter",
          fillColor: "rgba(212,149, 28,0.5)",
          strokeColor: "rgba(212,149, 28,1)",
          pointColor: "rgba(212,149, 28,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(212,149, 28,1)",
          data: [6, 6, 7, 7, 5, 5, 4, 6, 7, 7, 4, 3]
        },
        {
          label: "Nybörjare",
          fillColor: "rgba( 50,177, 24,0.5)",
          strokeColor: "rgba( 50,177, 24,1)",
          pointColor: "rgba( 50,177, 24,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba( 50,177, 24,1)",
          data: [2, 4, 4, 2, 5, 3, 7, 4, 1, 7, 3, 5]
        }
      ]
     };

    Chart.defaults.global.responsive = true;
    Chart.defaults.global.scaleShowLabels = true;
    Chart.defaults.global.scaleFontFamily = "arial, verdana, sans-serif";
    Chart.defaults.global.scaleFontSize = 12;

    var ctx = $("#uxChart").get(0).getContext("2d");
    var radarChart = new Chart(ctx).Radar(
      data,
      {
        pointLabelFontFamily : "arial, verdana, sans-serif",
        pointLabelFontSize : 16
      }
    );
  </script>
}