@(spreadsheetUrl: Url, uxData: UxData)

@page(spreadsheetUrl.getUrl) {

  <script type='text/javascript'>
    var data = {
      labels: @Html(play.libs.Json.toJson(uxData.getLabels).toString),
      datasets: [
        @for(label <- uxData.getDataRows.keySet()) {
          {
            label: "@label",
            data: @Html(play.libs.Json.toJson(uxData.getDataRows.get(label)).toString),
            fillColor: "rgba(212,149, 28,0.5)",
            strokeColor: "rgba(212,149, 28,1)",
            pointColor: "rgba(212,149, 28,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(212,149, 28,1)"
          },
        }
      ]
     };

    Chart.defaults.global.responsive = true;
    Chart.defaults.global.scaleShowLabels = true;
    Chart.defaults.global.scaleFontFamily = "arial, verdana, sans-serif";
    Chart.defaults.global.scaleFontSize = 12;

    var ctx = $("#uxChart").get(0).getContext("2d");
    var radarChart = new Chart(ctx).Radar(
      data,
      {
        pointLabelFontFamily : "arial, verdana, sans-serif",
        pointLabelFontSize : 16,
        scaleShowLabels : true
      }
    );
  </script>
}