@(spreadsheetUrl: String = "", errorMessage: Option[String] = None)(body: play.twirl.api.Html)

<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    @newrelic()

    <title>Användarupplevelsemätning</title>
    <link rel="shortcut icon" href='@routes.Assets.versioned("images/crisp-favicon.png")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/crisp-bootstrap.css")'>
    <script type='text/javascript' src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("lib/chartjs/Chart.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("lib/html2canvas/html2canvas.js")'></script>
  </head>
  <body>
    <div class="container">
      <h1>Användarupplevelsemätning</h1>
      <form class="max-width form-inline" action="@routes.Application.show()" method="get">
        <label for="spreadsheetUrl" class="pull-left small-space-above">Google kalkylark: </label>
        <button type="submit" class="btn btn-primary pull-right">Läs in</button>
        <div class="fill-remainder">
          <input type="url" class="form-control" id="spreadsheetUrl" name="spreadsheetUrl" placeholder="https://docs.google.com/..." value="@spreadsheetUrl" required="">
        </div>
      </form>

      @if(errorMessage.isDefined) {
        <div class="alert alert-danger small-space-above" role="alert">Problem: @errorMessage.get</div>
      }

      <div class="panel panel-default large-space-above">
        @if(errorMessage.isEmpty && spreadsheetUrl.length>0) {
          <div class="panel-heading">
            <h3 class="panel-title">
              <button type="button" class="btn btn-default btn-xs" onclick="exportImage()">
                <span class="glyphicon glyphicon-picture"></span> Spara
              </button>
              <a href="@spreadsheetUrl" class="btn btn-default btn-xs" target="_blank">
                <span class="glyphicon glyphicon-th"></span> Öppna kalkylark
              </a>
            </h3>
          </div>
        }
        <div class="panel-body" id="uxImage">
          <canvas id="uxChart"></canvas>
          <div id="uxLegend" class="small-space-above text-center"></div>
        </div>
      </div>
      @body
    </div>

    <footer>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-logo"></div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script>
      function exportImage() {
        html2canvas($("#uxImage"), {
          onrendered: function(canvas) {
            var MIME_TYPE = "image/png";
            var imgURL = canvas.toDataURL(MIME_TYPE);

            var dlLink = document.createElement('a');
            dlLink.download = "MeasuringUx-export.png";
            dlLink.href = imgURL;
            dlLink.dataset.downloadurl = [MIME_TYPE, dlLink.download, dlLink.href].join(':');

            document.body.appendChild(dlLink);
            dlLink.click();
            document.body.removeChild(dlLink);
          }
        });
      }
    </script>
  </body>
</html>